@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: Aletheia;
  src: url(../fonts/assinatura/Aletheia.ttf);
}
:root {
  --fonte--principal: "Noto Sans", sans-serif;

  --fonte--assinatura: "Aletheia", sans-serif;
  --fonte--paragafos: "Karla", sans-serif;

  --tamanho--fonte--cabecalho: 1.5rem;
  --tamanho--fonte--h1: 2.5rem;
  --tamanho--fonte--h2: 2.2rem;
  --tamanho--fonte--p: 1.2rem;
  --tamanho--fonte--assinatura: 3rem;

  --peso--fonte--cabecalho: 500;
  --peso--fonte--h1: 600;
  --peso--fonte--p: 400;

  --cor--texto--padrao: #f6f6f6;
  --cor--texto--destaque: #ff4a57;

  --background-gradient: linear-gradient(#23263a, #0d1b2a);
  --background--sessao: #171926;
}
body {
  background-image: var(--background-gradient);
}
/* cabecalho */
.navegacao__links {
  text-decoration: none;
  color: var(--cor--texto--padrao);
  font-size: var(--tamanho--fonte--cabecalho);
  font-weight: var(--peso--fonte--cabecalho);
  font-family: var(--fonte--principal);
}
.navegacao__links:hover {
  text-decoration: underline;
  font-size: 170%;
  transition: 0.2s;
}
.navegacao__links__destaque {
  color: var(--cor--texto--destaque);
}

/* apresentaçao*/
.apresentacao__container {
  color: var(--cor--texto--padrao);
  font-family: var(--fonte--principal);
}
.apresentacao__titulo {
  font-size: var(--tamanho--fonte--h1);
  font-weight: var(--peso--fonte--h1);
}
.apresentacao__paragrafo {
  color: var(--cor--texto--padrao);
  font-size: var(--tamanho--fonte--p);
  font-weight: var(--peso--fonte--p);
  font-family: var(--fonte--paragafos);
}

/* bolas vermelhas */

.bolinha {
  border-radius: 50%;
}
.localizacao__atual {
  background-color: var(--cor--texto--destaque);
  width: 30px;
  height: 30px;
}
.localizacao__atual:hover {
  cursor: pointer;
}
.proximas__localizacao {
  border: 1px solid var(--cor--texto--destaque);
  width: 20px;
  height: 20px;
}
.proximas__localizacao:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.2s;
}
.linha {
  width: 30%;
  height: 1px;
  background-color: white;
}

/* sessao sobre mim */

.sobremim__subtitulo {
  font-family: var(--fonte--principal);
  color: var(--cor--texto--padrao);
  font-size: var(--tamanho--fonte--h2);
}
.sobremim__paragrafo {
  color: var(--cor--texto--padrao);
  font-size: var(--tamanho--fonte--p);
  font-weight: var(--peso--fonte--p);
  font-family: var(--fonte--paragafos);
}
.sobremim__assinatura {
  color: var(--cor--texto--padrao);
  font-family: var(--fonte--assinatura);
  font-size: var(--tamanho--fonte--assinatura);
  text-align: center;
}

/* sessao skills */

.skills__subtitulo {
  color: var(--cor--texto--destaque);
  font-size: var(--tamanho--fonte--h2);
  font-family: var(--fonte--principal);
}
.skills_subtitulo__destaque {
  text-decoration: none;
  border-bottom: 4px solid var(--cor--texto--destaque);
}
.skills__logos__item {
  background-color: #23263a;
  border-radius: 2%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  width: 40vw;
}
.skills__logos__item:hover {
  background-color: var(--background--sessao);
  transform: translateY(0.2rem);
}
.skills__logo__p {
  color: var(--cor--texto--padrao);
  font-family: var(--fonte--paragafos);
  font-size: var(--tamanho--fonte--p);
}
.skills__logos__img {
  width: 50%;
  padding-top: 5%;
}

/*sessao hobbies*/
.hobbies__subtitulo {
  color: var(--cor--texto--destaque);
  font-size: var(--tamanho--fonte--h2);
  font-family: var(--fonte--principal);
}

/* sessao academica */
.academica__subtitulo {
  color: var(--cor--texto--destaque);
  font-family: var(--fonte--principal);
  font-size: var(--tamanho--fonte--h2);
}
.academica__paragrafo {
  color: var(--cor--texto--padrao);
  font-family: var(--fonte--paragafos);
  font-size: var(--tamanho--fonte--p);
}
.academica__items {
  background-color: #23263a;
  border-radius: 2%;
  width: 60vw;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.academica__items:hover {
  background-color: var(--background--sessao);
  transform: translateY(0.2rem);
}
.academica__img {
  width: 60%;
}

/*Sessao Experiencia*/
.experiencia__subtitulo {
  color: var(--cor--texto--destaque);
  font-size: var(--tamanho--fonte--h2);
  font-family: var(--fonte--principal);
}
.experiencia__items {
  padding-top: 5%;
  background-color: #23263a;
  border-radius: 2%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  width: 80%;
  gap: 10px;
}
.experiencia__items:hover {
  background-color: var(--background--sessao);
  width: 85%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.1s;
}
.experiencia__descricao {
  color: var(--cor--texto--padrao);
  font-family: var(--fonte--paragafos);
  font-size: var(--tamanho--fonte--h2);
  text-align: center;
}
.experiencia__img {
  width: 90%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.experiencia__botao {
  width: 30vw;
  height: 5vh;
  font-family: var(--fonte--paragafos);
  font-size: var(--tamanho--fonte--p);
  cursor: pointer;
}
.experiencia__botao:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0.2rem var(--cor--texto--padrao);
}
.experiencia__botao:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  font-size: 130%;
  text-shadow: 5px 5px 5px black;
  transition: 0.1s;
}

.repo {
  border-color: var(--cor--texto--destaque);
  background-color: rgba(255, 255, 255, 0);
  color: var(--cor--texto--padrao);
}
.demo {
  background-color: var(--cor--texto--destaque);
  color: var(--cor--texto--padrao);
  border-color: rgba(255, 0, 0, 0);
}

/* sessao contato  */
.contatos__container {
  background-color: var(--background--sessao);
}
.contatos__subtitulo {
  color: var(--cor--texto--destaque);
  font-size: var(--tamanho--fonte--h2);
  font-family: var(--fonte--principal);
  text-align: center;
}
.contatos__paragrafo {
  color: var(--cor--texto--padrao);
  font-family: var(--fonte--paragafos);
  font-size: var(--tamanho--fonte--paragrafo);
  text-align: center;
}
.contatos__form {
  padding: 20px;
  border-radius: 10px;
  font-family: var(--fonte--paragafos);
}

.contatos__form label {
  color: var(--cor--texto--padrao);
}

.contatos__form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 80px;
  width: 80%;
}

.contatos__form input,
.contatos__form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contatos__form input:focus,
.contatos__form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px var(--background--sessao);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contatos__form button[type="submit"] {
  background-color: var(--cor--texto--destaque);
  color: var(--cor--texto--padrao);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contatos__form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* footer  */
footer {
  padding: 1%;
  text-align: center;
  font-family: var(--fonte--paragafos);
  color: rgba(255, 255, 255, 0.226);
}
