body {
  box-sizing: border-box;
  height: 100%;
}
/* cabecalho */
.cabecalho__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.938rem;
}
.navegacao__items:nth-child(2),
.navegacao__items:nth-child(3),
.navegacao__items:nth-child(4),
.navegacao__items:nth-child(5),
.navegacao__items:nth-child(6) {
  display: none;
}
/* apresentaçao*/
.apresentacao__container {
  padding: 3%;
}

/* localizacao bolas vermelhas */
.localizacao__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sessao Sobre mim*/
.sobremim__container {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}
.sobremim__subtitulo {
  text-align: center;
  margin: 0;
}
.sobremim__assinatura {
  margin: 0;
}

/* sessao skills e hobbies */
.skills__textos,
.hobbies__subtitulo {
  text-align: center;
  padding: 0;
  margin: 0;
}

.skills__logos__container,
.hobbies__logos__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 33px;
}
.skills__logos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* sessao academica */
.academica__textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 33px;
}
.academica__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Sessao Experiencia*/
.experiencia__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}

.experiencia__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.experiencia__botoes__container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
/* sessao contatos  */
.contatos__paragrafo{
  width: 99%;
}
.contatos__form form {
  display: flex;
  flex-direction: column;
}
.contato__img {
  display: none;
}
/*Telas Grandes*/
@media (min-width: 1200px) {
  /* cabecalho */
  .cabecalho__container {
    justify-content: flex-end;
  }
  .navegacao__items:nth-child(1) {
    position: absolute;
    padding-left: 4.625rem;
    left: 0;
  }
  .navegacao__items:nth-child(2),
  .navegacao__items:nth-child(3),
  .navegacao__items:nth-child(4),
  .navegacao__items:nth-child(5),
  .navegacao__items:nth-child(6),
  .navegacao__items:nth-child(7) {
    display: flex;
    padding-right: 4.625rem;
  }
  /* apresentaçao*/
  .apresentacao__container {
    display: flex;
    height: 40vh;
    justify-content: center;
    gap: 5%;
  }
  .apresentacao__titulo{
    width: 60%;
  }
  .apresentacao__textos {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .apresentacao__paragrafo{
    width: 80%;
  }
  /*  bolas vermelhas */
  .localizacao__container {
    flex-direction: column;
    width: 1%;
  }
  .linha {
    width: 1px;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.178);
  }
  /* Sessao Sobre mim*/
  .sobremim__container {
    flex-direction: row;
    height: 40vh;
    justify-content: center;
    gap: 5%;
  }
  .sobremim__subtitulo {
    text-align: start;
  }
  .sobremim__textos {
    display: flex;
    width: 80%;
    flex-direction: column;
  }
  .sobremim__paragrafo{
    width: 80%;
  }
  .sobremim__assinatura {
    text-align: left;
  }

  /* sessao skills e sessao hobbies */
  .skills__container,
  .hobbies__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10%;
  }

  .skills__logos__container,
  .hobbies__logos__container {
    flex-wrap: nowrap;
    width: 90%;
  }
  .skills__logos__item {
    height: 20vh;
  }
  /* sessao academica */
  .academica__container {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  .academica__textos {
    width: 78%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: start;
  }
  .academica__subtitulo {
    width: 100%;
    padding-left: 1%;
  }
  .academica__items {
    display: flex;
    width: 20%;
    height: 30vh;
    justify-content: center;
    text-align: center;
  }
  .academica__img {
    width: 30%;
  }
  /*Sessao Experiencia*/
  .experiencia__texto {
    width: 80%;
  }
  .experiencia__subtitulo {
    text-align: start;
  }
  .experiencia__items {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .experiencia__items.reverse {
    flex-direction: row-reverse;
  }
  .experiencia__div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
  }
  .experiencia__botao {
    width: 10vw;
  }
  .experiencia__img {
    width: 52%;
    border-radius: 2% 0 0 2%;
  }
  .reverse__img {
    border-radius: 0 2% 2% 0;
  }

  /* sessao contatos  */
  .contatos__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
  }
  .contatos__textos {
    width: 100%;
    padding: 0 5% 0 0;
  }
  .contatos__form {
    width: 35%;
  }
  .contato__img {
    display: block;
  }
}
