body {
  box-sizing: border-box;
  height: 100%;
}
/* cabecalho */
.cabecalho__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.938rem;
}
.navegacao__items:nth-child(2),
.navegacao__items:nth-child(3),
.navegacao__items:nth-child(4),
.navegacao__items:nth-child(5),
.navegacao__items:nth-child(6) {
  display: none;
}
/* apresentaçao*/
.apresentacao__container {
  padding: 3%;
}

/* localizacao bolas vermelhas */
.localizacao__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sessao Sobre mim*/
.sobremim__container {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}
.sobremim__subtitulo {
  text-align: center;
  margin: 0;
}
.sobremim__assinatura {
  margin: 0;
}

/* sessao skills */
.skills__container {
  margin: 0;
  text-align: center;
}
.skills__paragrafo{
  margin: 0;
}
.skills__subtitulo {
  margin: 0;
  text-align: center;
}

/*Telas Grandes*/
@media (min-width: 1200px) {
  /* cabecalho */
  .cabecalho__container {
    justify-content: flex-end;
  }
  .navegacao__items:nth-child(1) {
    position: absolute;
    padding-left: 4.625rem;
    left: 0;
  }
  .navegacao__items:nth-child(2),
  .navegacao__items:nth-child(3),
  .navegacao__items:nth-child(4),
  .navegacao__items:nth-child(5),
  .navegacao__items:nth-child(6),
  .navegacao__items:nth-child(7) {
    display: flex;
    padding-right: 4.625rem;
  }
  /* apresentaçao*/
  .apresentacao__container {
    display: flex;
    width: 95vw;
    height: 40vh;
    padding: 5% 0 0 5%;
    gap: 5%;
  }
  .apresentacao__textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  /*  bolas vermelhas */
  .localizacao__container {
    flex-direction: column;
    height: 80%;
  }
  .linha {
    width: 1px;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.178);
  }
  /* Sessao Sobre mim*/
  .sobremim__container {
    flex-direction: row;
    width: 95vw;
    height: 40vh;
    padding: 0 0 0 5%;
    gap: 5%;
  }
  .sobremim__textos {
    display: flex;
    width: 80%;
    flex-direction: column;
  }
  .sobremim__assinatura {
    text-align: left;
  }
}
